html {
    min-width: 1100px;
    min-width: 600px;
}

body {

}

html, body {
    height: 100vh;
    min-height: 100vh;
    background: rgba(245, 245, 245, 1.0);
}

.container-fluid {

}

.btn {
    border: 0;
    border-radius: 2px;
    box-shadow: 1px 1px 2px grey;
    text-transform: uppercase;
    font-weight: bold;

    padding: 10px 20px 10px 20px;
    transition: 0.3s;
}

a.button-link {
    color: black;
    transition: 0.3s;
}

a.button-link:hover {
    color: orange;
}

button.close:focus {
    outline: none !important;
}

button.live {
    padding: 3px 7px 3px 7px;
}

button.btn-tree {
    padding: 5px 10px 5px 10px;
    font-size: 13px;
}

button.btn-tree:focus, button.btn-tree:active {
    outline: none !important;
}

button.btn-crud {
    margin-top: 6px;

    padding: 11px 20px 11px 20px;

    font-size: 15px;
}

button.btn-crud:focus, button.btn-crud:active {
    outline: none !important;
}

button.btn-more {
    padding: 0;
    font-size: 14px;
    border: 0;
    box-shadow: none;
    background: none;
}

button.btn-more:focus, button.btn-more:active {
    outline: none !important;
}

button.btn-more:hover {
    color: orange;
}

.loading-animation {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.row {
    padding: 0;
}

.row > div {
    margin: 0;
    padding: 0;
}

.inner {
    background: white;
    box-shadow: 1px 1px 2px grey;
    border-radius: 1px;
    padding: 5px;

    margin-bottom: 10px;
}

h2:before {
    content: "▶ ";
}

h2 {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 1px 1px white;
}

h3:before {
    content: "▶ ";
}

h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 1px white;
}

h4:before {
    content: "▶ ";
}

h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

h4 a {
    color: rgba(20, 20, 20, 0.8);
    text-shadow: 1px 1px 2px grey;
}

.printable {
    padding: 0;
}

.btn {
    margin: 2px;
}

a {
    text-decoration: none !important;
}

.disabled {
    cursor: not-allowed;
}

nav.head {
    height: auto;
    width: 100%;

    padding: 15px 15px 15px 15px;
    box-shadow: 1px 1px 4px black;

    text-align: right;

    border-right: 1px solid rgba(50, 50, 50, 1.0);

    background: #494949;
    background: -moz-linear-gradient(top,  #494949 0%, #3f3f3f 100%);
    background: -webkit-linear-gradient(top,  #494949 0%,#3f3f3f 100%);
    background: linear-gradient(to bottom,  #494949 0%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3f3f3f',GradientType=0 );
}

nav.head .module {
    color: white;
    font-size: 25px;

    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.5s;

    padding: 0;
}

nav.head .module:focus, .module:active {
    border: 0;
    outline: none;
}

nav.head .module a {
    color: white;
    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.3s;

    padding: 0;
}

nav.head a:hover {
    color: #FFF94C;
}

nav.head .deploy {
    display: none;
    z-index: 1000;
 
    height: auto;
    padding: 10px;
    width: 200px;

    position: fixed;
    bottom: 90%;
    top: 50px;
    right: 0;
    text-align: left;
    vertical-align: top;

    background: rgba(40, 40, 40, 0.9);

    color: white;
}

nav.head .deploy ul {
    display: blocks;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    font-size: 20px;

    color: white;
    transition: 0.3s;
    padding: 3px;
    margin: 0;
}

nav.head .deploy ul:hover {
    border-color: #FFF94C;
}

nav.head .deploy ul.disabled {
    color: rgba(100, 100, 100, 0.3);
    text-shadow: none;
}

nav.head .deploy .titre {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
    border-bottom: 1px solid #FFF94C;
}

nav.head .content {
    text-align: left;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

nav.head .menu {
    text-align: right;
    font-size: 25px;
}

.panel {
    margin: 0;
    padding: 0;

    border-radius: 0;
}

.panel .panel-heading {
    background: rgba(200, 200, 200, 0.8);
    border: 0;
    padding: 5px;
}

.action{
    height: 93.4vh;
}

.action .gauche {
    height: 100vh;
    border-right: 1px solid rgba(100, 100, 100, 0.5);
    overflow: auto;
}

.action .gauche .search {

}

.action .gauche .list {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.action .gauche .list li {
    padding: 5px;
    list-style: none;
    transition: 0.3s;
    border-bottom: 1px solid rgba(140, 140, 140, 0.0);
}

.action .gauche .list li:hover {
    color: rgba(10, 100, 200, 1.0);
    border-color: rgba(140, 140, 140, 0.8);
}

.action .gauche .list a {
    color: rgba(5, 5, 5, 1.0);

}

.action .gauche .list li.active {
    color: rgba(10, 100, 200, 1.0);
    border-color: rgba(140, 140, 140, 0.8);
}

.action .gauche .list li.alerte {
    color: rgba(230, 10, 10, 1.0);
}

.action .gauche .form-control {
    border: 0;
    box-shadow: none;
    background: none;
    border-bottom: 1px solid rgba(180, 180, 180, 0.9);
    border-radius: 0;

    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;

    margin: 0;
    padding: 0;
}

.action .droite {
    height: 100vh;
}

.action .droite .titre {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    margin: 10px 0 20px 0;
}

.action .droite .subtitre {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.action .droite .action-info {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.action .droite .action-info .form-control {
    text-align: center;
}

.action .action-new {
    margin-bottom: 20px;
}

.action .description {
    font-size: 18px;
    font-weight: bold;
}

.action .droite .form-control {
    border: 0;
    height: auto;
    box-shadow: none;
    background: none;
    border-radius: 0;
    color: rgba(200, 60, 10, 1.0);
    font-size: 18px;
    font-weight: bold;


    margin: 0;
    padding: 0;
    max-width: 100%;
}

.action .droite textarea {
    height: 100%;
}

.action .table-stats th {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.action .table-stats td.categorie {
    vertical-align: middle;
    font-weight: bold;
    text-align: right;
}

.action .table-stats td.value {
    vertical-align: middle;
    text-align: center;
}

.budget .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.budget .nav-tabs li.active {
    
}

.budget table {
    width: 100%;
    margin: 0;
}

.budget table th {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    font-size: 16px;
}

.budget table tr.vote {
    background: #36C92A;
    font-weight: bold;
    color: white;
}

.budget table tr.dm {
    background: #F69225;
    font-weight: bold;
    color: white;
}

.budget table tr.total {
    background: #444444;
    font-weight: bold;
    color: white;
}

.budget table tr.budget {
    background: #444444;
    color: white;
}

.budget table td.category {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;

    text-transform: uppercase;
}

.budget table td.amount {
    vertical-align: middle;
    text-align: center;
}

.budget table td.actions {
    text-align: center !important;
}

.budget .table-header {
    background: #444444;
    text-align: left;
    vertical-align: middle !important;

    margin-top: 5px;
    padding: 5px 5px 5px 5px;

    color: white;
    text-transform: uppercase;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.budget .table-footer {
    margin-bottom: 5px;
    
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.budget .add {
    width: 100%;
    text-align: center;
}

.budget .depense-category-edit .form-control {
    text-align: center;
    background: none;
    box-shadow: none;
    border: 0;
    height: 0;
    text-transform: uppercase;
    color: rgba(200, 60, 10, 1.0);
}

.budget .depense-amount-edit .form-control {
    text-align: center;

    background: none;
    box-shadow: none;
    border: 0;
    height: 0;
    color: rgba(200, 60, 10, 1.0);

    font-weight: bold;
}

.budget .budget-name-edit .form-control {
    text-align: left;
    border: 0;
    height: 0;
    text-transform: uppercase;

    color: rgba(250, 150, 100, 1.0);
    background: none;
    box-shadow: none;

    padding: 14px 0 19px 0;
}

.budget .budget-vote-edit .form-control {
    text-align: center;

    background: none;
    box-shadow: none;
    border: 0;
    height: 0;
    color: rgba(200, 60, 10, 1.0);

    font-weight: bold;
}

.budget .budget-dm-edit .form-control {
    text-align: center;

    background: none;
    box-shadow: none;
    border: 0;
    height: 0;
    color: rgba(200, 60, 10, 1.0);

    font-weight: bold;
}

.budget .budget-service-edit .form-control {
    background: none;
    box-shadow: none;
    border: 0;
    height: 0;
    color: rgba(200, 60, 10, 1.0);

    font-weight: bold;
}

.budget .tree,
.budget .tree ul {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
    color: black;
    position: relative;
}

.budget .tree ul {
    margin-left: .5em;
}

.budget .tree:before,
.budget .tree ul:before {
    content :"";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

.budget .tree li {
    margin: 0;
    padding: 0 1.5em;
    line-height: 2em;
    font-weight: bold;
    position: relative;
}

.budget .tree li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0;
}

.budget .tree li:last-child:before {
    background: white;
    height: auto;
}

.budget .tree-category {
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;

    margin: 0 2px 0 10px;
}

.budget .table-tableau th {
    text-align: center;
    vertical-align: middle;
}

.budget .table-tableau td {
    text-align: center;
    vertical-align: middle;
}

.budget .table-tableau th.service-side {
    vertical-align: middle;
    font-size: 14px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
}

.budget button.menu {
    margin-top: 7px;
}

.dashboard .menu {
    background: #3f3f3f;
    box-shadow: 5px 0 5px -5px grey;
    height: 100%;

    color: white;
    padding: 0;
}

.dashboard .menu button {
    font-size: 13px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;

    color: white;
    text-align: left;
}

.dashboard .menu button:focus {
    outline: none;
}

.dashboard .menu button.btn-home {
    background: #474747;
    transition: .2s;
}

.dashboard .menu .glyphicon {
    margin-right: 10px;
}

.dashboard .menu button.btn-home:hover {
    background: #525252;
}

.dashboard .menu button.btn-year {
    background: #474747;
    transition: .2s;
}

.dashboard .menu button.btn-year:hover {
    background: #525252;
}

.dashboard .menu button.btn-month {
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid rgba(140, 140, 140, 0.2);

    padding-left: 30px; padding-right: 30px;

    transition: .2s;
}

.dashboard .menu button.btn-month:hover {
    background: #525252;
    border-color: #AB6300;
}

.dashboard .content {
    padding-top: 10px;
}


.dashboard .content .date {
    font-size: 18px;
    font-style: italic;
    margin: 10px 0 0 0;

    color: #4C565D;
    opacity: 0.6;

    text-transform: uppercase;
}

.dashboard .content .title {
    font-size: 20px;
    margin: 10px 0 0 0;
    color: #4C565D;
    text-align: center;
    font-weight: bold;

    text-transform: uppercase;
}

.dashboard .content .data {
    box-shadow: 1px 1px 2px grey;
    border-radius: 1px;

    margin: 5px 0 5px 0;
    
    text-align: center;
    transition: .5s;
    background: white;
}

.dashboard .content .data .header {
    color: #696969;
}

.dashboard .content .data .middle {
    font-size: 30px;
    font-weight: bold;
}

.dashboard .content .data .middle .form-control {
    text-align: center;
    background: none;
    font-size: 30px;
    color: #333;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.dashboard .content .data .middle li {
    list-style: none;
}

.dashboard .content .data .small {
    font-size: 18px;
}

.dashboard .content .data .footer {
    text-align: center;
    font-size: 14px;

    color: #696969;
    transition: .3s;
}

.dashboard .content .data .footer:hover, .middle:hover, .header:hover {
    cursor: pointer;

}

.dashboard .content .data .footer .title {
    font-size: 14px;
}

.dashboard .content .services {
    font-size: 20px;
    padding: 10px;
    transition: .4s;
}

.dashboard .content .services .middle {
    font-size: 18px;
    font-weight: bold;
    cursor: auto;

    text-transform: uppercase;
}

.dashboard .content .services .add-service {
    background: white;
    transition: .4s;
}

.dashboard .content .services .add-service:hover {
    cursor: pointer;
    background: red;
}

.dashboard .content .table-agents {
    margin: 0;
}

.dashboard .content .table-agents th,td {
    text-transform: uppercase;
    vertical-align: middle;
    border-left: 5px solid rgba(0, 0, 0, 0.0); border-right: 5px solid rgba(0, 0, 0, 0.0);
}

.dashboard .content .table-agents td {
    text-align: center;
}

.dashboard .content .table-holiday-add {
    width: 100%;
}

.dashboard .content .table-holiday-add td,th {
    text-align: center;
    vertical-align: middle;
}

.dashboard .content .add-agent {

    border-radius: 1px;

    text-align: center;
    transition: .5s;
    background: white;
}
