@media print
{
    .no-print
    {
        display: none !important;
    }
}

body,html {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.wrap-return {
    position: fixed;
    top: 0;

    z-index: 9999;

    width: 100%;
    height: 80px;
    background: orange;

    opacity: 0;
    transition: .3s;
}


.wrap-return:hover {
    opacity: 1;
}

.wrap-print {
    position: fixed;
    bottom: 0;

    z-index: 9999;

    width: 100%;
    height: 80px;
    background: orange;

    opacity: 0;
    transition: .3s;
}


.wrap-print:hover {
    opacity: 1;
}

.wrap-print, .wrap-return {
    font-size: 30px;

    text-transform: uppercase;
    text-align: center;

    color: black;

    opacity: 0;
    transition: .3s;
}

.wrap-print:hover, .wrap-return:hover {
    opacity: 1;
}
.wrap {
    padding: 40px;
}

li {
    list-style: none;
}

.budget table td,th {
    text-align: center;
    vertical-align: middle;
}

.budget table td.category {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;

    text-transform: uppercase;
}

.budget .table-header {
    background: #444444;
    text-align: left;
    vertical-align: middle !important;

    margin-top: 5px;
    padding: 5px 5px 5px 5px;

    color: white;
    text-transform: uppercase;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.budget .table-tableau th.service-side {
    vertical-align: middle;
    font-size: 14px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
}
