/**
 * SASS Variables
 * Repository of the whole variables used in the api
 * Only non-constant values are stored in variables
 */

/** Api global variables */
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$body-font-family: "Raleway", sans-serif;
$body-font-size: 14px;
$separation: " - ";

$box-shadow: 1px 1px 2px grey;

/** Fonts sizes */
$big-font-size: 28px;
$medium-font-size: 24px;
$small-font-size: 18px;
$normal-font-size: $body-font-size;

/** Fonts colors */
$neutral-dark: #1E2932;

/** Hovers */
$hover-color: #FFB555;

/** Modals */
$modal-wrap: rgba(0, 0, 0, 0.8);

/** Blocks */
$block-background: rgba(250, 250, 250, 0.9);
$block-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.9);
$block-border-radius: 5px;

/** Lines */
$line-color: rgba(100, 100, 100, 0.2);

/** Buttons */
$button-border-radius: 2px;
$button-box-shadow: 0 0 1px grey;
$button-lg: 10px 20px 10px 20px;
$button-md: 6px 10px 6px 10px;
$button-sm: 4px 8px 4px 8px;
$button-xs: 1px 4px 1px 4px;

/** Forms */
$form-search-background: none;
$form-search-border-radius: 0;

/** Navigation header */
$header-background: #494949;
$header-text-color: white;

$header-menu-text-color: white;

/** Module reunion */
$reunion-block-header-background: #F5F3E4;
