body, html {
    min-width: 1000px !important;
    background: rgba(230, 230, 230, 1.0);
}

/* les paddings du container correspondent aux deux panneaux sur les côtés */
.container-fluid {
    padding: 5px 200px 5px 60px;
}

.row {
    padding: 5px 20px 5px 20px;
}

.row > div {
    margin: 5px 0 5px 0;
    padding: 5px;
}

.inner {
    background: white;
    box-shadow: 1px 1px 2px grey;
    border-radius: 1px;
    padding: 5px;
}

h2:before {
    content: "▶ ";
}

h2 {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 1px 1px white;
}

h4:before {
    content: "▶ ";
}

h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.printable {
    padding: 0;
}

.btn {
    margin: 2px;
}

a {
    text-decoration: none !important;
}

.disabled {
    cursor: not-allowed;
}

.back {
    font-size: 28px;
    margin: 5px;
    color: #333;
}

table th {
    text-align: center;
    vertical-align: middle !important;
}

table td {
    text-align: center;
    vertical-align: middle !important;
    padding: 0 2px 0 2px !important;
}

table .danger {
    font-weight: bold !important;
}

table td.nom {
    text-align: left;
    vertical-align: middle !important;
}

table td.reunionSujet {
    text-align: left;
    vertical-align: middle !important;
}

table td.reunionSujetBold {
    text-align: left;
    vertical-align: middle !important;
    font-weight: bold;
    text-transform: uppercase;
}

table td.annéeBold {
    vertical-align: middle !important;
    font-weight: bold;
}

table td.sujet {
    text-align: left;
    vertical-align: middle !important;
}

li {
    list-style: none;
    padding-left: 5px;
}

#decal {
    padding: 5px;
}

#deroule {
    color: #333;
}

nav.menu {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5;
    height: 100%;
    width: 60px;

    padding: 10px 15px 10px 15px;

    text-align: center;

    border-right: 1px solid rgba(50, 50, 50, 1.0);

    background: #494949;
    background: -moz-linear-gradient(top,  #494949 0%, #3f3f3f 100%);
    background: -webkit-linear-gradient(top,  #494949 0%,#3f3f3f 100%);
    background: linear-gradient(to bottom,  #494949 0%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3f3f3f',GradientType=0 );
}

nav.menu li {
    font-size: 25px;
    padding: 20px 5px 20px 5px;
}

nav.menu li button {
    color: white;
    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.5s;

    padding: 0;
}

nav.menu li button:focus, button:active {
    border: 0;
    outline: none;
}

nav.menu li a {
    color: white;
    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.3s;

    padding: 0;
}

nav.menu li a:hover {
    color: #FFF94C;
}

nav.menu li .deploy {
    display: none;
 
    height: 100%;
    padding: 10px;
    width: 200px;

    position: fixed;
    bottom: 90%;
    top: 0;
    left: 60px;
    text-align: left;

    background: #353535;
    background: -moz-linear-gradient(top,  #353535 0%, #232323 100%);
    background: -webkit-linear-gradient(top,  #353535 0%,#232323 100%);
    background: linear-gradient(to bottom,  #353535 0%,#232323 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#232323',GradientType=0 );
    box-shadow: 2px 0px 4px #888888;

    color: white;
}

nav.menu li .deploy ul {
    display: blocks;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    font-size: 20px;

    color: white;
    transition: 0.3s;
    padding: 3px;
    margin: 0;
}

nav.menu .deploy ul:hover {
    border-color: #FFF94C;
}

nav.menu .deploy ul.disabled {
    color: rgba(100, 100, 100, 0.3);
    text-shadow: none;
}

nav.menu .deploy .titre {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
    border-bottom: 1px solid #FFF94C;
}

nav.info {
    position: fixed;
    right: 0;

    z-index: 1;
    overflow-x: hidden;
    transition: 0.5;
    height: 100%;
    width: 200px;

    color: white;

    padding: 10px 15px 10px 15px;

    text-align: left;

    border-left: 1px solid rgba(50, 50, 50, 1.0);

    background: #494949;
    background: -moz-linear-gradient(top,  #494949 0%, #3f3f3f 100%);
    background: -webkit-linear-gradient(top,  #494949 0%,#3f3f3f 100%);
    background: linear-gradient(to bottom,  #494949 0%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3f3f3f',GradientType=0 );
}

nav.info .alerte-off {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #FFF94C;

    margin-bottom: 20px;
    padding-bottom: 10px;
}

nav.info .alerte-on {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    color: red;
    border-bottom: 1px solid #FFF94C;

    margin-bottom: 20px;
    padding-bottom: 10px;
}
