html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
}

html, body {
    height: 100%;
}

/* les paddings du container correspondent aux deux panneaux sur les côtés */
.container-fluid {
    padding: 0 190px 0 55px;
}

.row {
    padding: 0 20px 0 20px;
}

.row > div {
    margin: 0;
    padding: 5px;
}

.inner {
    background: white;
    box-shadow: 1px 1px 2px grey;
    border-radius: 1px;
    padding: 5px;
}

h2:before {
    content: "▶ ";
}

h2 {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 1px 1px white;
}

h4:before {
    content: "▶ ";
}

h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.printable {
    padding: 0;
}

.btn {
    margin: 2px;
}

a {
    text-decoration: none !important;
}

.disabled {
    cursor: not-allowed;
}

nav.menu {
    position: fixed;
    z-index: 1;
    overflow-y: hidden;
    transition: 0.5;
    height: auto;
    width: 100%;

    padding: 10px 15px 10px 15px;

    text-align: center;

    border-right: 1px solid rgba(50, 50, 50, 1.0);

    background: #494949;
    background: -moz-linear-gradient(top,  #494949 0%, #3f3f3f 100%);
    background: -webkit-linear-gradient(top,  #494949 0%,#3f3f3f 100%);
    background: linear-gradient(to bottom,  #494949 0%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3f3f3f',GradientType=0 );
}

nav.menu li {
    display: inline;
    font-size: 25px;
    padding: 20px 5px 20px 5px;
    list-style: none;
}

nav.menu li button {
    color: white;
    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.5s;

    padding: 0;
}

nav.menu li button:focus, button:active {
    border: 0;
    outline: none;
}

nav.menu li a {
    color: white;
    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.3s;

    padding: 0;
}

nav.menu li a:hover {
    color: #FFF94C;
}

nav.menu li .deploy {
    display: none;
 
    height: 100%;
    padding: 10px;
    width: 200px;

    position: fixed;
    bottom: 90%;
    top: 0;
    left: 60px;
    text-align: left;

    background: rgba(40, 40, 40, 0.9);

    box-shadow: 2px 0px 4px #888888;

    color: white;
}

nav.menu li .deploy ul {
    display: blocks;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    font-size: 20px;

    color: white;
    transition: 0.3s;
    padding: 3px;
    margin: 0;
}

nav.menu .deploy ul:hover {
    border-color: #FFF94C;
}

nav.menu .deploy ul.disabled {
    color: rgba(100, 100, 100, 0.3);
    text-shadow: none;
}

nav.menu .deploy .titre {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
    border-bottom: 1px solid #FFF94C;
}

.action {
    background: #494949;
    background: -moz-linear-gradient(top,  #494949 0%, #3f3f3f 100%);
    background: -webkit-linear-gradient(top,  #494949 0%,#3f3f3f 100%);
    background: linear-gradient(to bottom,  #494949 0%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3f3f3f',GradientType=0 );
    width: 100%;

    height: 100%;
    min-height: 100%;
}

.action .gauche {
    border-right: 5px solid grey;
    min-height: 100%;
    height: 100%;
}

.action .droite {

}
