html {
    min-width: 1100px;
    min-width: 600px;
}

body {

}

html, body {
    height: 100vh;
    min-height: 100vh;
    background: rgba(245, 245, 245, 1.0);
}

.container-fluid {

}

.btn {
    border: 0;
    border-radius: 2px;
    box-shadow: 1px 1px 2px grey;
    text-transform: uppercase;
    font-weight: bold;

    padding: 10px 20px 10px 20px;
    transition: 0.3s;
}

a.button-link {
    color: black;
    transition: 0.3s;
}

a.button-link:hover {
    color: orange;
}

button.live {
    border: 0;
    background: none;

    transition: 0.3s;
}

button.live:hover {
    outline: none;
    color: orange;
}

.row {
    padding: 0;
}

.row > div {
    margin: 0;
    padding: 0;
}

.inner {
    background: white;
    box-shadow: 1px 1px 2px grey;
    border-radius: 1px;
    padding: 5px;

    margin-bottom: 10px;
}

h2:before {
    content: "▶ ";
}

h2 {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 1px 1px white;
}

h4:before {
    content: "▶ ";
}

h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

h4 a {
    color: rgba(20, 20, 20, 0.8);
    text-shadow: 1px 1px 2px grey;
}

.printable {
    padding: 0;
}

.btn {
    margin: 2px;
}

a {
    text-decoration: none !important;
}

.disabled {
    cursor: not-allowed;
}

nav.head {
    height: auto;
    width: 100%;

    padding: 15px 15px 15px 15px;
    box-shadow: 1px 1px 4px black;

    text-align: right;

    border-right: 1px solid rgba(50, 50, 50, 1.0);

    background: #494949;
    background: -moz-linear-gradient(top,  #494949 0%, #3f3f3f 100%);
    background: -webkit-linear-gradient(top,  #494949 0%,#3f3f3f 100%);
    background: linear-gradient(to bottom,  #494949 0%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3f3f3f',GradientType=0 );
}

nav.head .module {
    color: white;
    font-size: 25px;

    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.5s;

    padding: 0;
}

nav.head .module:focus, .module:active {
    border: 0;
    outline: none;
}

nav.head .module a {
    color: white;
    background: none;
    border: 0;
    text-shadow: 0 0 3px black;
    transition: 0.3s;

    padding: 0;
}

nav.head a:hover {
    color: #FFF94C;
}

nav.head .deploy {
    display: none;
    z-index: 1000;
 
    height: 100%;
    padding: 10px;
    width: 200px;

    position: fixed;
    bottom: 90%;
    top: 75px;
    right: 0;
    text-align: left;

    background: rgba(40, 40, 40, 0.9);

    color: white;
}

nav.head .deploy ul {
    display: blocks;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    font-size: 20px;

    color: white;
    transition: 0.3s;
    padding: 3px;
    margin: 0;
}

nav.head .deploy ul:hover {
    border-color: #FFF94C;
}

nav.head .deploy ul.disabled {
    color: rgba(100, 100, 100, 0.3);
    text-shadow: none;
}

nav.head .deploy .titre {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
    border-bottom: 1px solid #FFF94C;
}

nav.head .content {
    text-align: left;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

nav.head .menu {
    text-align: right;
    font-size: 25px;
}

.panel {
    margin: 0;
    padding: 0;

    border-radius: 0;
}

.panel .panel-heading {
    background: rgba(200, 200, 200, 0.8);
    border: 0;
    padding: 5px;
}

.action{
    height: 93.4vh;
}

.action .gauche {
    height: 100%;
    border-right: 1px solid rgba(100, 100, 100, 0.5);
    overflow: auto;
}

.action .gauche .search {

}

.action .gauche .list {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.action .gauche .list li {
    padding: 5px;
    list-style: none;
    transition: 0.3s;
    border-bottom: 1px solid rgba(140, 140, 140, 0.0);
}

.action .gauche .list li:hover {
    color: rgba(10, 100, 200, 1.0);
    border-color: rgba(140, 140, 140, 0.8);
}

.action .gauche .list a {
    color: rgba(5, 5, 5, 1.0);

}

.action .gauche .list li.active {
    color: rgba(10, 100, 200, 1.0);
    border-color: rgba(140, 140, 140, 0.8);
}

.action .gauche .list li.alerte {
    color: rgba(230, 10, 10, 1.0);
}

.action .gauche .form-control {
    border: 0;
    box-shadow: none;
    background: none;
    border-bottom: 1px solid rgba(180, 180, 180, 0.9);
    border-radius: 0;

    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;

    margin: 0;
    padding: 0;
}

.action .droite {
    height: 100%;
}

.action .droite .titre {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    margin: 10px 0 20px 0;
}

.action .droite .action-info {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.action .droite .action-info .form-control {
    text-align: center;
}



.action-new {
    margin-bottom: 20px;
}

.action .description {
    font-size: 18px;
    font-weight: bold;
}

.action .droite .form-control {
    border: 0;
    height: auto;
    box-shadow: none;
    background: none;
    border-radius: 0;
    color: rgba(200, 60, 10, 1.0);
    font-size: 18px;
    font-weight: bold;


    margin: 0;
    padding: 0;
    max-width: 100%;
}

.action .droite textarea {
    height: 100%;
}
